body {
    background-image: url('https://img.freepik.com/free-photo/top-view-copy-space-white-green-blue-paper-clips-with-blue-light-green-pencils-green-background_141793-11774.jpg?w=1060&t=st=1694691535~exp=1694692135~hmac=dd06b5889b19d95f774fdb1fadff5a38ca98f84595318587d58dea96240b68ff');
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .card {
    position: relative;
    margin: 150px auto;
    width: 450px;
    padding: 40px;
    border-radius: 16px;
    background-color: #ffffff8e;
  }
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 34, 34);
  }
  
  .card div {
    margin-top: 12px;
  }
  label {
    color: grey;
    padding-left: 4px;
    font-size: 16px;
  }
  error {
    font-size: 10px;
    color: #ff6774;
  }
  input {
    width: 450px;
    height: 40px;
    background-color: #edf2f5;
    font-size: 24px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.28);
  }
  
  .button {
    cursor: pointer;
    width: 160px;
    color: #fff;
    height: 40px;
    background-color: #25c9f7;
    border: none;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    border-radius: 0.25rem;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transition: 2s;
  transform: rotate('360deg');
 
  }

  .button:hover
  {
    background-color: rgba(253, 201, 32, 0.6);
  }